body{
    font-family: Roboto;
    font-size:16px;
}

#openMap{
    background: #AC9DE9;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    border: 0;
    cursor: pointer;
    padding: 8px 16px;
    outline: none;
    font-size:18px;
    color: #fff;
    margin-bottom: 10px;
}

#openMap:hover{
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    color: #999;
    transition: all .3s;
}

.closeWindow, .getHideWindow{
    font-size:18px;
    color: #999;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 88%;
    padding: 10px;   
}

.getHideWindow{
    left: 63%;
}

.closeWindow:hover,
.getHideWindow:hover{
    color: #C3C3C3;
}

.coords{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #C3C3C3;
    font-size: 14px;
    outline:none;
    resize: none;
    rows: 5;
}

.coords:focus{
    border-bottom: 2px solid #999; 
}

.hidden{
    display: inline-block;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding: 5px 10px;
    margin: 0 3px;
    cursor: pointer;
    color: #999;
}

.hidden:hover{
    transform: translateY(-1%);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);  
    transition: all .3s;
    color: #666;
}